<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userBean"
          class="by.javatr.bicrent.entity.User">
        <!--Without any constructor in class User-->
    </bean>

    <bean id="companyBean"
          class="by.javatr.bicrent.entity.Company">
        <!--Constructor with string: name of company-->
        <constructor-arg value="Uknown" />
    </bean>

    <bean id="locationBean"
          class="by.javatr.bicrent.entity.Location">
        <!--Constructor with reference on Company: Company company-->
        <constructor-arg ref="companyBean" />
    </bean>

    <bean id="virtualCardBean"
          class="by.javatr.bicrent.entity.VirtualCard">
        <!--Set with User-->
        <property name="user" ref="userBean"/>
        <property name="name" value="Uknown"/>
    </bean>




       <!-- <property name="name" value="${musicPlayer.name}"/>-->

</beans>